body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

h2 {
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
}

form input, .select-currency {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1em;
}

.label-text {
  display: inline-block;
  margin-bottom: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #008CBA; /* Blue */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #007B9A; /* Darker blue */
}

h3 {
  margin: 0px;
  padding: 10px 20px;
  font-size: 1em;
  color: #008CBA;
  min-height: 1em;
}

#button-and-result {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

#result {
  min-height: 20px;
}
